#div1 {
    background-image: url('../img/janken_gu_small.png');
    width: 800px;
    height: 600px;
  }

  #div1:active {
    background-image: url('../img/janken_gu.png');
  }

  .yours {
    /* border: solid 6px #abcf3e; */
    /* 追加するコード*/ 
    display: flex;
    justify-content: center;
}

.result {
    display: flex;
    justify-items: center;
}

#playButton {
  background-color: #4CAF50; /* ボタンの背景色（緑） */
  color: white; /* テキストの色（白） */
  padding: 15px 32px; /* パディング：上・下15px、左・右32px */
  font-size: 16px; /* フォントサイズ */
  font-family: 'Arial', sans-serif; /* フォントファミリー */
  border: none; /* ボーダーを削除 */
  border-radius: 8px; /* ボタンの角を丸くする */
  cursor: pointer; /* カーソルをポインタにする */
  transition: background-color 0.3s ease; /* 背景色変更時のアニメーション */
}

#playButton:hover {
  background-color: #45a049; /* ホバー時の背景色 */
}

/* 背景画像の読み込み */
.layer-bg {
  background-image: url("../img/indonesian-3.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

/* 重ねる文字の基本設定 */
.layer-txt {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
  letter-spacing: 0.4rem;
}
